

@section style{
    <link rel="stylesheet" href="~/Assets/css/signin.css">
}



<div class="form"><div class="box"></div></div>
<form asp-controller="SignIn" asp-action="SignIn" method="post" class="form">
    <p>ورود</p>
    <div class="box">
        <div class="gmail">
            <button><img style="margin-right: 10px;" width="22" height="22" src="https://img.icons8.com/color/48/google-logo.png" alt="google-logo" />ورود با جیمیل</button>
        </div>
        <div class="line"></div>

        <input asp-for="Email" dir="rtl" type="text" class="in" placeholder="ایمیل">
        <span style="color:red;font-size:small;margin-top:5px" asp-validation-for="Email"></span>

        <input asp-for="Pass" dir="rtl" type="password" class="in" placeholder="کلمه عبور">
        <span style="color:red;font-size:small;margin-top:5px" asp-validation-for="Pass"></span>

        <p>میخوای <a asp-controller="SignUp" asp-action="SignUp">ثبت نام</a> کنی؟</p>

        <div class="boutt">
            <button type="submit">ورود</button>
        </div>
    </div>
</form>



