

@section style{
    <link rel="stylesheet" href="~/Assets/css/signin.css">
}


<div class="form"><div class="box"></div></div>
<div class="form">
    <p>ورود</p>
    <div class="box">
        <div class="gmail">
            <button><img style="margin-right: 10px;" width="22" height="22" src="https://img.icons8.com/color/48/google-logo.png" alt="google-logo" />ورود با جیمیل</button>
        </div>
        <div class="line"></div>
        <input dir="rtl" type="text" class="in" required maxlength="30" placeholder="ایمیل یا شماره موبایل">
        <input dir="rtl" type="password" class="in" required maxlength="30" placeholder="کلمه عبور">
        <p>میخوای <a href="">ثبت نام</a> کنی؟</p>
        <div class="boutt">
            <button>ورود</button>
        </div>
    </div>
</div>


