
@section style{
    <link rel="stylesheet" href="~/Assets/css/favourite.css">
}

@section script {
    <script src="~/Assets/js/like.js"></script>
    <script src="~/Assets/js/search-click.js"></script>
}

@using CafeMan_Project.Models.Entities

@model User



<header>
    <p>CafeMan</p>
    <nav>
        <div>
            <a asp-controller="Ranking" asp-action="Ranking">رنکینگ</a>
            <a asp-controller="Cafeman" asp-action="Cafeman">کافه من</a>
            <a asp-controller="Favourite" asp-action="Favourite">علاقه مندی ها</a>
        </div>
        <div class="search-nav">
            <img width="15" height="15" src="https://img.icons8.com/ios-filled/15/search--v1.png" alt="search--v1" />
            <input type="text" placeholder="کافه مورد نظرتو پیدا کن">
            <button href=""><div></div><div></div></button>
        </div>
        <div>
            <a href="signin.html">ورود</a>
            <a href="signup.html">ثبت نام</a>
        </div>
    </nav>
</header>

<main>

    <div class="category">
        <p>دسته بندی بر اساس :</p>
        <div class="ctg">
            <a href="">رتبه</a>
            <a href="">قیمت</a>
            <a href="">باز بودن</a>
        </div>

    </div>

    <div class="cafes">

        @if(Model.Favourites != null)
        {

            @foreach (var fav in Model.Favourites)
            {
                <div class="cafe-card">
                    <img src="~/Assets/Images/Profile/behtarin-coffee-shop-shike-tehran.jpg" alt="Cafe Image">
                    <div class="cafe-details">
                        <div><h3><a href="">@fav.Cafe.CafeName</a><samp id="rank">1#</samp></h3><a class="unsave"><img width="25" height="25" src="https://img.icons8.com/ios-glyphs/25/hearts.png" alt="hearts" /></a><a class="save"><img width="25" height="25" src="https://img.icons8.com/color/25/filled-like.png" alt="filled-like" /></a></div>
                        <p class="des">@fav.Cafe.CafeDescription</p>
                    </div>
                </div>
            }

        }
        else
        {
            <h1>شما هنوز کافه مورد علاقه ای ندارید</h1>
        }

 @*        <div class="cafe-card cafe1">
            <img src="~/Assets/Images/Profile/behtarin-coffee-shop-shike-tehran.jpg" alt="Cafe Image">
            <div class="cafe-details">
                <div><h3><a href="">کافه کارا</a><samp id="rank">1#</samp></h3><a class="unsave"><img width="25" height="25" src="https://img.icons8.com/ios-glyphs/25/hearts.png" alt="hearts" /></a><a class="save"><img width="25" height="25" src="https://img.icons8.com/color/25/filled-like.png" alt="filled-like" /></a></div>
                <p class="des">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز</p>
            </div>
        </div> *@



    </div>

</main>

<footer>
    <div class="name">
        <p dir="rtl">CafeMan</p>
        <div>
            <div dir="rtl">تلفن : 02133858511</div>
            <div>از ساعت 8 صبح تا 12 شب پاسخگوی شما هستیم</div>
        </div>
        <a href="" onclick="topFunction()" id="myBtn" title="Go to top">بازگشت به بالا</a>
    </div>
    <div class="row2">
        <div class="conect-us">
            <div class="social"><a href=""><img width="40" height="40" src="https://img.icons8.com/ios/50/instagram-new--v1.png" alt="instagram-new--v1" /></a><a href=""><img width="40" height="40" src="https://img.icons8.com/ios/40/telegram.png" alt="telegram" /></a><a href=""><img width="50" height="50" src="https://img.icons8.com/ios/50/linkedin.png" alt="linkedin" /></a></div>
            <p>با ثبت ایمیل از جدید ترین کافه ها و رویداد های کافه ها با خبر شوید</p>
            <div class="email"><a href="">ثبت</a><input type="email" name="" id="" placeholder="ایمیل شما"></div>
        </div>
        <div class="symbols">
            <a href=""><img src="~/Assets/Images/namad1.webp" alt=""></a>
            <a href=""><img src="~/Assets/Images/namad2.png" alt=""></a>
        </div>
    </div>
</footer>


