
@section style{
    <link rel="stylesheet" href="~/Assets/css/favourite.css">
}

@section script {
    <script src="~/Assets/js/like.js"></script>
    <script src="~/Assets/js/search-click.js"></script>
}



<header>
    <p>CafeMan</p>
    <nav>
        <div>
            <a asp-controller="Ranking" asp-action="Ranking">رنکینگ</a>
            <a asp-controller="Cafeman" asp-action="Cafeman">کافه من</a>
            <a asp-controller="Favourite" asp-action="Favourite">علاقه مندی ها</a>
        </div>
        <div style="display:none" class="search-nav">
            <img width="15" height="15" src="https://img.icons8.com/ios-filled/15/search--v1.png" alt="search--v1" />
            <input type="text" placeholder="کافه مورد نظرتو پیدا کن">
            <button href=""><div></div><div></div></button>
        </div>
        <div style="display:none">
            <a href="signin.html">ورود</a>
            <a href="signup.html">ثبت نام</a>
        </div>
    </nav>
</header>

<main>

    <div class="category">
        <p>دسته بندی بر اساس :</p>
        <div class="ctg">
            <a href="">رتبه</a>
            <a href="">قیمت</a>
            <a href="">باز بودن</a>
        </div>

    </div>

    <div class="cafes">

        @if(Model.Favourites != null)
        {

            @foreach (var fav in Model.Favourites)
            {
                <div class="cafe-card">
                    <img src="~/Assets/Images/Profile/behtarin-coffee-shop-shike-tehran.jpg" alt="Cafe Image">
                    <div class="cafe-details">
                        <div><h3><a href="">@fav.Cafe.CafeName</a><samp id="rank">1#</samp></h3><a class="unsave"><img width="25" height="25" src="https://img.icons8.com/ios-glyphs/25/hearts.png" alt="hearts" /></a><a class="save"><img width="25" height="25" src="https://img.icons8.com/color/25/filled-like.png" alt="filled-like" /></a></div>
                        <p class="des">@fav.Cafe.CafeDescription</p>
                    </div>
                </div>
            }

        }
        else
        {
            <p style="font-size:xx-large; color:brown">شما هنوز کافه مورد علاقه ای ندارید</p>
        }

 @*        <div class="cafe-card cafe1">
            <img src="~/Assets/Images/Profile/behtarin-coffee-shop-shike-tehran.jpg" alt="Cafe Image">
            <div class="cafe-details">
                <div><h3><a href="">کافه کارا</a><samp id="rank">1#</samp></h3><a class="unsave"><img width="25" height="25" src="https://img.icons8.com/ios-glyphs/25/hearts.png" alt="hearts" /></a><a class="save"><img width="25" height="25" src="https://img.icons8.com/color/25/filled-like.png" alt="filled-like" /></a></div>
                <p class="des">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز</p>
            </div>
        </div> *@



    </div>

</main>




