
@section style{
    <link rel="stylesheet" href="~/Assets/css/signup.css">
}


<div class="form"><div class="box"></div></div>
<div class="form">
    <div class="box">
        <p>ثبت نام</p>
        <div class="gmail">
            <button><img style="margin-right: 10px;" width="22" height="22" src="https://img.icons8.com/color/48/google-logo.png" alt="google-logo" />ورود با جیمیل</button>
        </div>
        <div class="line"></div>
        <input dir="rtl" type="text" class="em" required maxlength="30" placeholder="ایمیل یا شماره موبایل">
        <input dir="rtl" type="password" class="in" required maxlength="30" placeholder="کلمه عبور">
        <input dir="rtl" type="password" class="in" required maxlength="30" placeholder="تکرار کلمه عبور">
        <div class="dis">

            <p>رمز عبور عبور حداقل هشت کاراکتر</p>
            <p></p>
        </div>
        <div class="boutt">
            <button>ثبت نام</button>
        </div>
        <p style="font-family: iransans; font-size: 15px; margin-bottom: 20px;">------------یا-----------</p>
        <div class="boutt">
            <button>ورود</button>
        </div>
    </div>
</div>