
@section style{
    <link rel="stylesheet" href="~/Assets/css/signup.css">
}

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@using CafeMan_Project.Models.ViewModels

@model AddUserViewModel




<div class="form"><div class="box"></div></div>
<form class="form" method="post" >
    <div class="box">
        <p>ثبت نام</p>
        <div class="gmail">
            <button><img style="margin-right: 10px;" width="22" height="22" src="https://img.icons8.com/color/48/google-logo.png" alt="google-logo" />ورود با جیمیل</button>
        </div>
        <div class="line"></div>

        <input asp-for="Email" dir="rtl" type="text" class="em" placeholder="ایمیل">
        <span asp-validation-for="Email"></span>

        <input asp-for="Password" dir="rtl" type="password" class="in" placeholder="کلمه عبور">
        <span asp-validation-for="Password"></span>

        <input asp-for="RepeatPassword" dir="rtl" type="password" class="in" placeholder="تکرار کلمه عبور">
        <span asp-validation-for="RepeatPassword"></span>

        <div class="dis">
            <p></p>
            <div class="valid-err" asp-validation-summary="ModelOnly" dir="rtl" style="font-size:small; color:red;gap:5px;"></div>
        </div>
        <div class="boutt">
            <button type="submit">ثبت نام</button>
        </div>
        <p style="font-family: iransans; font-size: 15px; margin-bottom: 20px;">------------یا-----------</p>
        <div class="boutt">
            <a asp-controller="SignIn" asp-action="SignIn">ورود</a>
        </div>
    </div>
</form>